
@import "custom/custom";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');

$default-spacing: 25px;

/* ---------------------------------------- */
/* General Styling */
/* ---------------------------------------- */

body {
    font-family: 'Lato', sans-serif;
    color: $primary-color;
    display: flex;
    min-height: 100vh;
    flex-direction: column;   
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
    position: relative;
    &:after {
        content: " ";
        display: block;
        background-color: $secondary-color;
        height: 5px;
        width: 25px;
        position: absolute;
        bottom: -15px;      
    }
}

h1, h2 {    
    margin-bottom: $default-spacing * 1.5;
}

.brand-logo {
    font-family: 'Bebas Neue', cursive;
}

@media only screen and (min-width: 601px) {
    img.float-right {
        float: right;
        margin: 0 0 $default-spacing $default-spacing;
        max-width: 250px;
    }
  }

input[type=submit] {
    color: #ffffff;
}

/* Apply this property to a .row to make all columns equal hights*/
.flex {
    display: flex;
    flex-wrap: wrap;
  }

/* ---------------------------------------- */
/* Adjusting Container Width */
/* ---------------------------------------- */

  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 90%;
    }
  }

/* ---------------------------------------- */
/* Highlight for Top of Page */
/* ---------------------------------------- */
%highlight-base {
    @extend %gradient-background;
    .btn-large {
        background-color: $primary-color;
    }
}

.highlight {
    @extend %highlight-base;
    height: 100vh;
    h1 {
        margin-top: 0;
        &:after {
            background-color: $primary-color;            
        }
    }
}

.highlight-secondary {
    @extend %highlight-base;
    padding: $default-spacing*2 0;
    h1 {
        &:after {
            background-color: $primary-color;            
        }
    }
}

/* ---------------------------------------- */
/* Skill Cards */
/* ---------------------------------------- */
%gradient-text {
    @extend %gradient-background;        
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.skill-card {
    margin-top: $default-spacing * 2;
    text-align: center;
}

.skill-card {
    i {
        font-size: 72px;
    }
    p {        
        font-family: 'Bebas Neue', cursive;
        font-weight: bold;
        font-size: 22px;
        
    }
    &:hover i, &:hover p {
        @extend %gradient-text;
    }
}


/* ---------------------------------------- */
/* Portfolio Cards */
/* ---------------------------------------- */

.card {
  cursor: pointer;     
}

.portfolio-btn-container {
    button {
        margin: $default-spacing $default-spacing / 4 0 0;
    }
}
.card-title {
    font-family: 'Bebas Neue', cursive;
    i {
        padding: 0 0 0 $default-spacing / 2;
    }
}

.portfolio-margin {
    margin: $default-spacing * 2 0 0 0;
}

.filterHide {
    display: none;
  }
  
  .filterShow {
    display: block;
  }

/* ---------------------------------------- */
/* Portfolio Overlay Divs */
/* ---------------------------------------- */

.overlay-div {
    padding: 35px;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999;
    h2 {
        padding-top: 0px;
        margin-top: 0px;
    }
}

.overlay-x {
    position: fixed;
    display: block;
    top: 25px;
    right: 25px;
    z-index: 999;
    cursor: pointer;   
}

.hidden-div {
    display: none;
}

/* ---------------------------------------- */
/* Contact Page Links */
/* ---------------------------------------- */

.contact-div {
    i {
        padding-right: 7px;
    }
}