
@import "custom/custom";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');

$default-spacing: 25px;

/* ---------------------------------------- */
/* General Styling */
/* ---------------------------------------- */

body {
    font-family: 'Lato', sans-serif;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
    position: relative;
    &:after {
        content: " ";
        display: block;
        background-color: $primary-color;
        height: 5px;
        width: 25px;
        position: absolute;
        bottom: -15px;
        
    }
}

.brand-logo {
    font-family: 'Bebas Neue', cursive;
}

/* ---------------------------------------- */
/* Highlight for Top of Page */
/* ---------------------------------------- */
%highlight-base {
    @extend %gradient-background;
    padding: $default-spacing*2 0;
}

.highlight {
    @extend %highlight-base;
    height: 100vh;
}

.highlight-secondary {
    @extend %highlight-base;
}

/* ---------------------------------------- */
/* Skill Cards */
/* ---------------------------------------- */
%gradient-text {
    @extend %gradient-background;        
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.skill-card {
    margin-top: $default-spacing * 2;
    text-align: center;
}

.skill-card {
    i {
        font-size: 72px;
    }
    p {        
        font-family: 'Bebas Neue', cursive;
        font-weight: bold;
        font-size: 22px;
        
    }
    &:hover i, &:hover p {
        @extend %gradient-text;
    }
}


/* ---------------------------------------- */
/* Portfolio Cards */
/* ---------------------------------------- */

.card-title {
    font-family: 'Bebas Neue', cursive;
    i {
        padding: 0 0 0 $default-spacing / 2;
    }
}

.portfolio-margin {
    margin: $default-spacing * 2 0 0 0;
}

.filter-show {
    display: block;
}

.filter-hide {
    display: none;
}