// font-family: 'Courier Prime', monospace;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Anton', sans-serif;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Baloo Bhai', cursive;
// font-family: 'Bebas Neue', cursive; use this one
// font-family: 'Jaldi', sans-serif;

$primary-color: #AF3B6E;

@import url('https://fonts.googleapis.com/css?family=Anton|Baloo+Bhai|Bebas+Neue|Courier+Prime|Fjalla+One|Jaldi|Open+Sans|Permanent+Marker|Raleway|Anton|Shadows+Into+Light&display=swap');

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }


.navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}

a.navbar-brand {
    font-size: 36px;
}

h1 {
    border-bottom: 5px solid $primary-color;
    font-size: 54px;
}